#calWrapper{
    display: none;
    justify-content: center;
    gap: 10vw;
    margin-top: 12vh;
    margin-left: 22vw;
    margin-right: 22vw;
    margin-bottom: 10vh;
  }
  
#calDiv, #timeDiv{
    width: 30vw;
}

#timeDiv {
    overflow-y:auto;
    height: 50vh;
}
  
#timeDiv div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: magenta
}
  
#timeDiv div:hover {
    background-color: pink;
    color: black;
    cursor: pointer;
}
  
#calDiv {
    display: flex;
    justify-content: end;
}
  
.bookNow {
    display: flex;
    flex-direction: column;
    gap: 12vh;
}
  
#bookBtnDiv {
    display: none;
}
  
#bookNowBtn {
    color: magenta;
    text-align: center;
}