#cardPoints ul{
    list-style: none;
}

.card {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
}

.cardTitle{
    display: flex;
}

#cardPoints ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#cardButton{
    padding-bottom: 2rem;
}


/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  /* width: 100px; */
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

