/* button */
.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    /* width: 100px; */
  }
  
  .button-13:hover {
    background-color: #f7fafa;
  }
  
  .button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }
  /*button end*/
  


  #contactWrapper{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
} 

#subWrapper{
  width: 90vw;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  padding-bottom: 5vh;
}

#headerWrapper{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}

#contactHeader{
  width: 40vw;
  font-family: 'Tenor Sans', sans-serif;
}

#contactLine{
  background: black;
  color: black;
  border-color: black;
  height: 1px;
  width: 50vw;
}


#formWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

.formInput{
  width: 20vw;
  height: 1.5rem;
}
.formMessage{
  width: 40vw;
  height: 5rem;
}
/* mobile */
@media only screen and (max-width: 768px) {
    /* #contactRight{
        display: none;
    }
    #contactLeft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 4rem 0 4rem 0;
    } */
}

/* desktop */
@media only screen and (min-width: 768px) {
    /* #contactWrapper{
       display: flex;
       justify-content: center;
       margin-top: 4rem;
   }  */
   /* #contactLeft{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 2rem;
   } */
}