/* button */
.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    /* width: 100px; */
  }
  
  .button-13:hover {
    background-color: #f7fafa;
  }
  
  .button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }
  /*button end*/
  


/* mobile */
@media only screen and (max-width: 768px) {
    #leftInfoR{
        display: none;
    }
    #rightInfoR{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 4rem 0 4rem 0;
    }
}

/* desktop */
@media only screen and (min-width: 768px) {
   .info{
       display: flex;
       justify-content: space-around;
       margin-top: 4rem;
   } 
   #rightInfoR{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 2rem;
   }
}